:root {
    --background-color: #0f6e5c00;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: urbanist, sans-serif;
    font-size: larger;
    background: linear-gradient(
        to right,
        rgb(46, 71, 63) 0%,
        rgb(47, 77, 53) 100%
    );
    background-size: 100% 200px;
    background-repeat: repeat-y;
    color: #fff;
    background-color: #222;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    max-width: 450px;
}
html {
    scroll-behavior: smooth;
}
h1 {
    font-size: 60px;
    background-color: var(--background-color);
    margin: 0;
}

.gradient-text {
    background: linear-gradient(100deg, #00ff80, #efff78);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #151;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.menu-button {
    padding: 9px 15px;
    background-color: #aca4;
    font-size: 30px;
    border-radius: 100px;
}
button:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}
#question {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
#answer {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #aca;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#question-container {
    height: 300px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    background-color: #f1f1f111;
    border-top: 1px solid #dfda;
    box-shadow: 0px 5px 5px #0202;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#chameleon-view {
    display: none;
}
#number {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #aca;
}
#list-container {
    display: none;
    text-align: left;
    padding: 20px;
    margin: 20px;
    background-color: #f1f1f111;
    border-top: 1px solid #dfda;
    box-shadow: 0px 5px 5px #0202;
    border-radius: 20px;
    padding-left: 50px;
    scroll-margin-top: 20px;
}
li {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
