:root {
    --background-color: #0f6e5c00;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: larger;
    background-color: #204e3b;
    color: #cfda5a;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 450px;
}
html {
    scroll-behavior: smooth;
}
h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 60px;
    background-color: var(--background-color);
    font-weight: 1000;
    margin-top: 10px;
}
p {
    margin:0;
}

.gradient-text {
    background: linear-gradient(100deg, #00ff80, #efff78);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 20px;
    color: #000;
    border: none;
    cursor: pointer;
}
.menu-button {
    padding: 9px 15px;
    font-size: 30px;
    border-radius: 100px;
    background-color: #cfda5a;
}
#word-button {
    padding: 30px;
    width: 400px;
    height: 200px;
    background-color: #0003;
    color: #cfda5a80;
    border: solid 2px #cfda5a;
    border-radius: 20px;
    margin: 20px;
}

#main-menu {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

#chameleon-view {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#new-game-button {
    background-color: transparent;
    color: #cfda5a;
    padding: 0;
    border-radius: 0;
}

#player-count{
    width: 60px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    background-color: #f1f1f111;
    color: #cfda5a;
    border: none;
}

#rules{
    background-color: #f1f8f111;
    border-radius: 20px;
    padding: 20px;  
    margin-top: 80px;
}
#rules pre {
    text-align: left;
    font-size: 16px;
    color: #cfda5a;
    white-space: pre-wrap;
}
#collections {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    margin-top: 20px;
}
#collections > button {
    margin: 0px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 30px;
    background-color: transparent;
    color: #cfda5a;
    border: 2px solid #cfda5a;
    
}
#collections > button.active {
    background-color: #cfda5a;
    color: #000;
}