:root {
    --background-color: #0f6e5c00;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: larger;
    background-color: #204e3b;
    color: #cfda5a;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 450px;
    transition: all 0.3s ease;
}
html {
    scroll-behavior: smooth;
}
h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 60px;
    background-color: var(--background-color);
    font-weight: 1000;
    margin-top: 10px;
    transition: all 0.3s ease  ;
}
p {
    margin:0;
}
a {
    color: #cfda5a;
    text-decoration: none;
    font-size: small;
}

.gradient-text {
    background: linear-gradient(100deg, #00ff80, #efff78);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-size: 20px;
    color: #000;
    border: none;
    cursor: pointer;
}
footer {
    margin-top: 30px;
    margin-bottom: 10px;
    bottom: 0;
}

#top-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 450px;
    padding: 10px;
    box-sizing: border-box;
}

#start-button {
    padding: 9px 15px;
    font-size: 30px;
    border-radius: 100px;
    background-color: #cfda5a;
}
#word-button {
    padding: 30px;
    width: 90%;
    height: 200px;
    background-color: #33e27633 ;
    color: #cfda5a80;
    border: solid 2px #cfda5a;
    border-radius: 20px;
    transition: all 0.2s ease;

}

.shadow {
    box-shadow: #0003 0px 7px 29px 0px;
}

#main-menu {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    transition: opacity 0.3s ease;
}

#chameleon-view {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    transition: opacity 0.3s ease;
}

#new-game-button {
    background-color: #cfda5a;
    color: #000;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.3s ease;
}

#player-count{
    width: 60px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    background-color: #f1f1f111;
    color: #cfda5a;
    border: none;
}

#rules{
    background-color: #b3ffb311;
    border-radius: 20px;
    padding: 20px;  
    margin-top: 80px;
    font-size: medium;
    text-align: left;
}
#rules pre {
    text-align: left;
    font-size: 16px;
    color: #cfda5a;
    white-space: pre-wrap;
}
#collections {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    margin-top: 20px;
}
#collections > button {
    margin: 0px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 30px;
    background-color: transparent;
    color: #cfda5a;
    border: 2px solid #cfda5a;
    
}
#collections > button.active {
    background-color: #cfda5a;
    color: #000;
}